*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display:flex;
    flex-direction: column;
}

.header{
    height:10vh;
    width:100vw;
    background-color: blue;
    display: flex;
}

.logo{
    width: 30vw;
}

.nav{
    width:70vw;
}

a{
    color:black;
    text-decoration: none;
}

ul{
    height: 50px;
    list-style-type: none;
    background-color: #ccc;
}

.lista{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main{
    height:70vh;
    width:100vw;
    background-color: black;
    display:flex ;
}

.article{
    height:70vh;
    width:80vw;
    background-color: orange;
}

.aside{
    height:70vh;
    width:20vw;
    background-color: cadetblue;
}

.footer{
    height:20vh;
    width:100vw;
    background-color: blue;
}
