<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo"></div>
            <div class="nav">
                <ul class="lista">
                    <li><a href="#">um</a></li>
                    <li><a href="#">dois</a></li>
                    <li><a href="#">três</a></li>
                    <li><a href="#">quatro</a></li>
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="article"></div>
            <div class="aside"></div>
        </div>
        <div class="footer">
    
        </div>
    </div>
</body>
</html>